<div class="card">
    <div id="filtres">
        <fieldset id="searchbar">
          <label for="search">Name: </label>
          <input type="search" name="search" id="search" (keyup)="onSearch($event)">
        </fieldset>
        <fieldset id="rolefilters">
          <input type="radio" name="role" id="all" value="all" (change)="onRoleChange('all')">
          <label for="all">All</label>
          <input type="radio" name="role" id="tank" value="tank" (change)="onRoleChange('tank')">
          <label for="tank">Tank</label>
          <input type="radio" name="role" id="mage" value="mage" (change)="onRoleChange('mage')">
          <label for="mage">Mage</label>
          <input type="radio" name="role" id="assassin" value="assassin" (change)="onRoleChange('assassin')">
          <label for="assassin">Assassin</label>
          <input type="radio" name="role" id="support" value="support" (change)="onRoleChange('support')">
          <label for="support">Support</label>
          <input type="radio" name="role" id="marksman" value="marksman" (change)="onRoleChange('marksman')">
          <label for="marksman">Marksman</label>
        </fieldset>
      </div>
</div>
