.alert {
  margin: 5%;
  padding: 1em;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #0984e3;
  border-left: 10px solid #0984e3;
}

.warn {
  background-color: #ffeaa7;
  border-color: #fdcb6e;
}
