<footer>
  <p>
    &copy; App designed by <a href="https://chevallm.herokuapp.com" target="_blank">Maxime Chevallier-Pichon</a> while self-learning <a href="https://angular.io/" target="_blank">Angular</a>
  </p>
  <p>
    Champion's data belong to <a href="https://www.riotgames.com/en" target="_blank">Riot Games</a> from the game <a href="https://euw.leagueoflegends.com/en/" target="_blank">League of Legends</a>
  </p>
</footer>
