<div class="champion-thumbnail">
  <a routerLink="/champion/{{champion.key}}">
    <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{champion.id}}.png" alt="Icon of {{champion.name}}" height="60" width="60">
    <p class="champion_name">{{ champion.name }}</p>
  </a>
</div>
