<router-outlet></router-outlet>
<div class="card card-image">
  <div class="container">
    <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{champion.id}}_0.jpg">
    <h1 class="name">{{champion.name}}</h1>
    <h2 class="title">{{champion.title}}</h2>

    <h3 class="roles">{{champion.tags.join(', ')}}</h3>

    <ul class="info">
      <li>
        Attaque: {{ champion.info.attack }}/10
      </li>
      <li>
        Magic: {{ champion.info.magic }}/10
      </li>
      <li>
        Defense: {{ champion.info.defense }}/10
      </li>
      <li>
        Difficulty: {{ champion.info.difficulty }}/10
      </li>
    </ul>

    <p class="blurb"> {{ getBlurb() }}</p>
    <a href="https://universe.leagueoflegends.com/en_US/champion/{{champion.id.toLocaleLowerCase()}}/" target="_blank" class="more">Learn more</a>
  </div>
</div>
