.container {
  position: relative;
  text-align: center;
}

img {
  height: 100%;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.name {
  position: absolute;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 4em;
  top: 0;
  left: 10%;
}

.title {
  position: absolute;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 2em;
  top: 12%;
  left: 10%;
}

.roles {
  position: absolute;
  color: white;
  text-shadow: 1px 1px 1px black;
  top: 20%;
  left: 10%;
}

.info {
  position: absolute;
  color: white;
  text-shadow: 1px 1px 1px black;
  top: 30%;
  left: 10%;
  text-align: left;
  list-style-type: none;
  text-indent: 0;
}

.blurb {
  position: absolute;
  color: white;
  text-shadow: 1px 1px 1px black;
  top: 50%;
  left: 10%;
  max-width: 20%;
}

.more {
  position: absolute;
  color: white;
  text-shadow: 1px 1px 1px black;
  top: 90%;
  left: 10%;
  max-width: 20%;
}

.card-image {
  padding: 0;
  display: flex;
}
