.champion {
  display: inline-flex;
  text-align: center;
  max-width: 60px;
  overflow: unset;
  font-size: 1vw;
  margin: 0 1em;
}

.card {
  background-color: white;
  margin: 5%;
  padding: 2em;
  border: 2px solid #ffbe76;
}
