<div class="card">
    <p>{{ champions.length }} champions.</p>
    <ul>
      <li *ngFor="let champion of champions" class="champion">
        <app-champion-thumbnail [champion]=champion></app-champion-thumbnail>
      </li>
    </ul>
</div>
