/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  background-color: black;
}

.card {
  background-color: white;
  margin: 5%;
  padding: 2em;
  border: 2px solid #ffbe76;
}
